.MainSearch {
    text-align: center;
    padding-top: 200px;

    input {
        padding: 14px 20px;
        border-radius: 5px 0px 0px 5px;
        border: solid 1px #ccc;
        max-width: 400px;
        width: 50%;
        min-width: 200px;
    }
    input:focus {
        outline: none;
    }
    input:hover {
        box-shadow: 0px 2px 3px #ccc;
    }

    button {
        height: 45px;
        width: 75px;
        background-color: white;
        border: solid 1px #ccc;
        border-radius: 0px 5px 5px 0px;
        margin-left: -1px;
        cursor: pointer;
    }
    button:hover {
        //background-color: #ddd;
        box-shadow: 0px 2px 3px #ccc;
    }
}
